.square{
	width:40em !important;
	margin-left: auto;
	margin-right: auto;
	border: 1px #885B5B solid;
}

#B1, #D1, #F1, #H1, #A2, #C2, #E2, #G2, #B3, #D3, #F3, #H3, #A4, #C4, #E4, #G4, #B5, #D5, #F5, #H5, #A6, #C6, #E6, #G6, #B7, #D7, #F7, #H7, #A8, #C8, #E8, #G8 {
	background: #fff;
	min-height:5em;
	min-width: 5em;
}

#A1, #C1, #E1, #G1, #B2, #D2, #F2, #H2, #A3, #C3, #E3, #G3, #B4, #D4, #F4, #H4, #A5, #C5, #E5, #G5, #B6, #D6, #F6, #H6, #A7, #C7, #E7, #G7, #B8, #D8, #F8, #H8{
	background: #885B5B;
	min-height:5em;
	min-width: 5em;
}

.sp:hover{
	background: rgba(0, 0, 0, .2) !important;
	
}
.sp:hover:after{
	content: attr(id);
	position: absolute; 
	z-index: 100;
}

.line{
	display: flex;

}

.pice{
	padding: 0px;
	margin: auto;
	font-size: 3.73em;
	text-shadow: 0.05em 0.05em 0.1em #000;
	margin-left: 0.15em;
	position:absolute;
}
.selecionado{
	/**background: rgba(0, 0, 0, .2) !important;**/
	background: rgba(255, 0, 0, .2) !important; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(circle, rgba(255, 0, 0, .4), rgba(255, 255, 0, .4), rgba(100, 100, 100, .5)) !important; /* Safari */
	background: -o-radial-gradient(circle, rgba(255, 0, 0, .4), rgba(255, 255, 0, .4), rgba(100, 100, 100, .5)) !important; /* Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(circle, rgba(255, 0, 0, .4), rgba(255, 255, 0, .4), rgba(100, 100, 100, .5)) !important; /* Firefox 3.6 to 15 */
	background: radial-gradient(circle, rgba(255, 0, 0, .4), rgba(255, 255, 0, .4), rgba(100, 100, 100, .5)) !important; /* Standard syntax */

}
.pice:hover{
	cursor: pointer;
}
.king.white:before{
	content:"\2654";
}

.queen.white:before{
	content:"\2655";
}

.rook.white:before{
	content:"\2656";
}
.bishop.white:before{
	content:"\2657";
}
.knight.white:before{
	content:"\2658";
}
.pawn.white:before{
	content:"\2659";
}

.king.black:before{
	content:"\265a";
}

.queen.black:before{
	content:"\265b";
}

.rook.black:before{
	content:"\265c";
}
.bishop.black:before{
	content:"\265d";
}
.knight.black:before{
	content:"\265e";
}
.pawn.black:before{
	content:"\265f";
}